@model Киберфорум.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<h1>Вы уверены что хотите удалить данную новость?</h1>

<div>
    <hr />    
    <form asp-action="Delete" asp-route-id="@Model.Id">
        <input type="submit" value="Да" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Нет</a>
    </form>
</div>
